@import "../base/variables.scss";
@import "../base/extend.scss";


.ubicacion-navbar {
    @media screen and (min-width: 481px) and (max-width: 990px) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


/*INICIO SECCION 1*/
/*Banner*/
.margin-banner-carrusel {
    margin-top: 100px;
}

.posicion-boton {
    position: relative;
}

/*Boton Ver productos*/
.boton-ver-productos {
    position:absolute;
    top:50%;
    left:56%;

        @media screen and (max-width: 480px) {
        visibility: hidden;
        }
}

.boton-ver-productos:hover {
    transform: scale(1.05);
}

.medida-boton {
    font-size: 1vw;
}
/*FIN SECCION 1*/


/*INICIO SECCION 2*/

#Seccion-2 {
    @extend %disposicion;
    margin: 40px 0;
}


.bloque-fotos {
    width: 60%;
    @extend %disposicion;
   flex-direction: row;

   @media screen and (min-width: 481px) and (max-width: 990px) {
    width: 90%;
    justify-content: center;
    }       

    @media screen and (max-width: 480px) {
    width: 80%;
   flex-wrap: wrap;
    }
}

.contenedor-item {
    @extend %disposicion;
}

.item-foto {
    margin-right: 20px;
    border-radius: 1em;

         @media screen and (min-width: 481px) and (max-width: 990px) {
            width: 90%;
            margin-right: 0px;
        }       
    
        @media screen and (max-width: 480px) {
            width: 80%;
            margin-bottom: 15px;
            margin-right:0px;
        }
}

 
/*FIN SECCION 2*/


/*INICIO SECCION 3*/

/*como comprar*/
.section-compra {
    width: 100%;
    @extend %disposicion;
    background-color:rgb(236, 236, 236);
    padding-bottom: 20px;
    padding-top: 30px;
}

.grid-general {
    width: 60%;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 1/2fr;
    gap: 20px 0;
    text-align: center;

    @media screen and (min-width: 481px) and (max-width: 990px) {
        width: 80%;
        font-size:0.9em ;
        }       
    
    @media screen and (max-width: 480px) {
        width: 80%;
        font-size:0.9em ;
        }
    }



.grid-compra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media screen and (min-width: 481px) and (max-width: 990px) {
        display: inline;
        }       
    
    @media screen and (max-width: 480px) {
        display: inline;
        }
    }


.grid-pago {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (min-width: 481px) and (max-width: 990px) {
        display:flex;
        justify-content: center;
        gap: 10px;
        }       
    
    @media screen and (max-width: 480px) {
        display:flex;
        justify-content: center;
        font-size: 0.8em;
        gap: 10px;
        flex-wrap: wrap;
        }
}

.item-compra {
    border-right: var(--Border-1);
    border-left: var(--Border-1);
    padding: 0 20px;

    @media screen and (min-width: 481px) and (max-width: 990px) {
        border-right: 0;
        border-left: 0;
        border-top: var(--Border-1);
        border-bottom: var(--Border-1);
        padding: 20px 0;
        margin: 15px 0;
        }       
    
    @media screen and (max-width: 480px) {
        border-right: 0;
        border-left: 0;
        border-top: var(--Border-1);
        border-bottom: var(--Border-1);
        padding: 20px 0;
        margin: 15px 0;
        }
}
/*FIN SECCION 3*/


/*INICIO SECCION 4 TIPS*/

/*Banner*/
#Tips-section {
    @extend %disposicion;
    flex-wrap: wrap;
    margin-top: 50px;
}

.grid-tip {
    width: 60%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 35px;
    margin: 50px 0;
    text-align: center;

    @media screen and (max-width: 480px) {
        width: 90%;
        grid-template-columns:1fr;
        grid-template-rows: repeat(8, 1/2fr);
        font-size: 0.9em;
        }

        @media screen and (min-width: 481px) and (max-width: 990px) {
        width: 80%;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        font-size: 0.9em;
        }
}

.item-tip {
    padding: 10px 0;
}

.banner-tip {
    width: 100%;

    @media screen and (max-width: 480px) {
        width: 100%;

        }

        @media screen and (min-width: 481px) and (max-width: 990px) {
        width: 100%;
        }
}