@import "../base/variables.scss";

#section-productos {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.titulo-productos {
    margin-bottom: 30px;
}

.grid-section-productos {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;
    justify-content: center;
}

.item-seccion-productos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.imagen-seccion-productos {
    width: 100%;
    border-radius: 1em;
    transition: all 0.5s;
}

/*animacion*/
.imagen-seccion-productos:hover {
    transform: scale(1.1);
}

.texto-seccion-productos {
    margin-top: 1em;
}