@import "../base/variables.scss";
@import "../base/extend.scss";

#section-descripcion-producto {
    @extend %disposicion;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    }
    
    .texto-descripcion {
    @extend %disposicion;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    }

    .carrusel-width {
        width:30%;
    }
    
    /*inicio iconos colores*/
    
    .grupo-colores {
    @extend %disposicion;
    }

    .colores-selector {
    @extend %disposicion;
    align-items: center;
    margin: 30px 0;
    }
    
    .circulo-suela {
    background-color: rgba(174, 142, 123, 1);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: var(--Border-1);
    margin: 0 10px;

    transition: all 0.5s;
    }
    
    .circulo-rojo {
    background-color:rgba(200, 47, 58, 1);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 0.5s;
    }
    
    .circulo-negro {
    background-color: black;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0 10px;
    transition: all 0.5s;
    }

    .circulo-nude {
        background-color: rgba(223, 207, 197, 1);
        width: 2em;
        height: 2em;
        border-radius: 50%;
        margin: 0 10px;
        transition: all 0.5s;
        }

    
    
    /*animaciones*/
    .circulo-1:hover, .circulo-2:hover, .circulo-3:hover, .boton-comprar:hover, .foto-descripcion:hover {
    transform: scale(1.2);
    }
    
    /*fin iconos colores*/
    /*Fin corousel*/
    
    /*Inicio descripcion de producto*/
    
    .boton-comprar {
    background-color: var(--background-negro);
    color: var(--Tipografia-blanca);
    border-radius: 0.6vw;
    padding: 0.5vw;
    @extend %disposicion;
    width: 30%;
    margin: 15px 0;
    transition: all 0.5s;

    @media screen and (max-width: 480px) {
        width: 80%;
        font-size: smaller;
        padding: 5px 0;
    }
    }
    
    
    .caracteristicas {
    @extend %disposicion;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
    
    
    .caracteristicas-pago {
    @extend %disposicion;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    }