@import "../base/variables.scss";
@import "../base/extend.scss";

a {
    text-decoration: none;}


    #section-productos {
    margin-top: 200px;
    @extend %disposicion;
    flex-direction: column;
    align-items: center;
    width:100%;

    @media screen and (max-width: 480px) {
        margin-top: 230px;
        }
}

.titulo-productos {
    margin-bottom: 30px;
}

/*grilla productos*/
.grid-section-productos {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;
    justify-content: center;

    @media screen and (min-width: 481px) and (max-width: 990px) {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 50px;
        justify-content: center;
        }       
    
    @media screen and (max-width: 480px) {
        width: 70%;
        grid-template-columns:1fr;
        grid-template-rows: repeat(6, 1fr);
        }
}


.item-seccion-productos {
    width: 100%;
    @extend %disposicion;
    flex-direction: column;
    align-items: center;
}


.imagen-seccion-productos {
    width: 100%;
    border-radius: 1em;
    transition: all 0.3s;
}

/*animacion*/
.imagen-seccion-productos:hover {
    transform: scale(1.05);
}

.texto-seccion-productos {
    font-size: 1.5em;
    margin-top: 1em;
    color: black;
    &:hover {font-family: "Roboto-Bold";}
}