@import "../base/variables.scss";
@import "../base/maps.scss";
@import "../base/extend.scss";


#footer {
    width: 100%;
    background-color: map-get($footer, bg-footer);
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %disposicion;
    align-items: center;
    flex-direction: column;

        h3 {
            display: flex;
            color: map-get($footer, color-tipo-footer);
            margin-bottom: 15px;
            text-align: center;
            font-size:map-get($footer, fs-footer-1);

            @media screen and (max-width: 480px) {
                font-size:map-get($footer, fs-footer-2);
                margin: 0;
                padding-bottom: 25px;
            }

            @media screen and (min-width: 481px) and (max-width: 990px) {
                font-size: map-get($footer, fs-footer-1);
            }
        }



        section {
            @extend %disposicion;

                a {
                    @extend %disposicion;

                    i {
                        @extend %disposicion;
                        
                        img {
                            padding-right: 15px;
                            @media screen and (max-width: 480px) {
                                padding-right: 0px;
                                width: 50%;
                            }
                        }

                    }
                }
            }        


        div {
            position: fixed;
            right:2em ;
            bottom:2.5em;

            @media screen and (max-width: 480px) {
                right:1em ;
                bottom:1em;
            }

            a {
                @media screen and (max-width: 480px) {
                display: flex;
                justify-content: flex-end;
                }

                    i{
                        @media screen and (max-width: 480px) {
                        display: flex;
                        justify-content: flex-end;}

                        img {
                            @media screen and (max-width: 480px) {
                            width: 50%;
                            }
                        }

                    }
            }

        }
}