@import "../base/variables.scss";


header {
nav {
        div {
            display: flex;
            flex-direction: column;
             
            @media screen and (min-width: 481px) and (max-width: 990px) {
                display: flex;
                flex-direction: row;
                align-items: center;}

            
            @media screen and (max-width: 480px) {
                display: inline;
                display: flex;
                flex-direction: row;
                align-items: center;}
            }

                div {
                    ul {
                        li {
                            a {
                                transition: all 0s;
                                &:hover {font-family:"Roboto-bold";
                                }
                        }
                        
                    }
                }
            }
        }
    }
