
$tipografia-negra: rgb(0, 0, 0);
$tipografia-blanca:rgb(255, 255, 255);
$background-gris:rgb(236, 236, 236);
$background-negro:rgb(0, 0, 0);
$background-blanco:rgb(255, 255, 255);

$Border: 2px solid black;

$font-size-1: 1em;

@import url("Roboto/Roboto-Bold.ttf");

$Roboto-bold: "Roboto-bold";
